<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songbirds</title>
</head>
<body>
    <div class="banner">
        <h1>Songbirds</h1>
    </div>

    <div class="button-container">
        <a href="/songbird"><button>Back</button></a>
        <a href="/songbird/<%= songbird._id %>/edit"><button>Edit</button></a>
    </div>

    <div class="delete-button">
        <form action="/songbird/<%= songbird._id %>?_method=delete" method="POST">
            <input type="submit" value="Delete">
        </form>
    </div>

    <div class="name">
        <p><%= songbird.name %></p>
    </div>

    <div class="img">
        <img src="<%= songbird.img %>">
    </div>

    <div class="specialty">
        <ul>
            <h2>Specialty: </h2>
            <p><%= songbird.specialty %></p>
        </ul>
    </div>

    <div class="extinct">
        <h2>Extinct:</h2>
        <p><%= songbird.completed ? 'Yes' : 'No' %></p>
    </div>
</body>
</html>